<div class="container-fluid bg-dark text-light py-3 px-3">
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <h5 class="heading">About</h5>
            <ul class="list-unstyled">
                <li><a routerLink="about">About Us</a></li>
                <li><a routerLink="contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-3">
            <h5 class="heading">Social</h5>
            <ul class="list-unstyled">
                <li><a href="javascript:void(0);">Facebook</a></li>
                <li><a href="javascript:void(0);">Twitter</a></li>
                <li><a href="javascript:void(0);">YouTube</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-3">
            <h5 class="heading">Help</h5>
            <ul class="list-unstyled">
                <li><a href="javascript:void(0);">Payment</a></li>
                <li><a href="javascript:void(0);">Shipping</a></li>
                <li><a href="javascript:void(0);">FAQ</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-3">
            <h5 class="heading">Policy</h5>
            <ul class="list-unstyled">
                <li><a href="javascript:void(0);">Return Policy</a></li>
                <li><a href="javascript:void(0);">Terms of Use</a></li>
                <li><a href="javascript:void(0);">Security</a></li>
                <li><a href="javascript:void(0);">Privacy</a></li>
            </ul>
        </div>
        <div class="offset-md-0 col-md-4 offset-sm-4 col-sm-4">
            <h5 class="heading">Offices</h5>
            <ul class="list-unstyled">
                <li>ShopStop, ABC, XYZ, 123456</li>
                <li>ShopStop, MNO, PQR, 123456</li>
            </ul>
            <p>Telephone: 1234567890</p>
        </div>
    </div>
</div>