@media only screen and (min-width:768px){
    #outer {
        position: relative;
        padding-bottom: 170px
    }
    #inner {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}