.error, .success{
    padding: 5px;
    border-radius: 5px;
}
.error{
    background-color: rgb(248, 169, 169);
    color: rgb(87, 0, 0);
}
.success{
    background-color: rgb(216, 255, 184);
    color: rgb(4, 70, 24);
}